# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Development build files
/dist
/.cache
/build
/.vercel

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?